/* リセット */
* {
box-sizing: border-box;
}

body {
margin: 0;
font-family: sans-serif;
background: #e8e0d8;
padding-bottom: 70px;
}

/* ヘッダー */
.header {
text-align: center;
padding: 10px;
font-size: 30px;
font-weight: bold;
}

/* コンテナ */
.container {
width: auto;
max-width: none;
margin: 0 auto;
background: transparent;
padding: 16px; /* ← 内側余白 */
}

/* 画像エリア */
.hero {
position: relative;

width: calc(100% + 32px);
margin-left: -16px;
margin-right: -16px;

overflow: hidden;
}

/* 画像 */
.hero img {
width: 100%;
height: auto;
display: block;
border-radius: 12px;
}

/* テキスト */
.hero-text {
position: absolute;
bottom: 10px;
left: 16px;
color: white;
font-size: 40px;
font-weight: bold;
text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

/* カード */
.card {
background: #eee;
border-radius: 12px;
padding: 16px;
margin-top: 12px;
}

/* サウナ種類 */

.drying-sauna-type{
display:flex;
gap:15px;
align-items:center;
}

.drying-sauna-type img{
width: 120px;
height: 80px;
object-fit: cover;
border-radius: 8px;
flex-shrink: 0;
}

.drying-sauna-text h4{
margin:0;
}

.wet-sauna-type{
display:flex;
gap:15px;
align-items:center;
}

.wet-sauna-type img{
width: 120px;
height: 80px;
object-fit: cover;
border-radius: 8px;
flex-shrink: 0;
}

.wet-sauna-text h4{
margin:0;
}

/* フッター */
.footer {
position: fixed;
bottom: 0;
width: 100%;
height: 80px;
background: #eee;
border-top: 1px solid #ccc;
}

/* メニュー */
.menu {
display: flex;
justify-content: space-around;
padding: 10px;
height: 100%;
font-size: 28px;
}

.menu a{
text-decoration: none;
color: inherit;
}